//// VARIABLES ////
$color1: #8a2be2;
$color2: #2b83e2;
$color3: #e28a2b;
$color4: #2be22e;
$color5: #dfe22b;
$mouseFont: 'Mouse Memoirs', sans-serif;
$candalFont: 'Candal', sans-serif;
$robotoFont : 'Roboto', sans-serif;

//// ELEMENTS ////
body {
  margin: 0;
  background: $color4;
  height: 100vh;
  width: 100vw;
  color: $color1;
  font-family: $candalFont;
  overflow: hidden;
}

//// CLASSES ////
.container {
  padding-left: 30px;
  padding-right: 30px;
}

.headerNavBarLink {
  font-family: $mouseFont;
  color: $color1;
  font-size: 60px;
  padding: 0 10px;
}

.headerNavBarLink:hover {
  color: $color5;
  cursor: pointer;
}

.footerNavBarLink {
  padding: 0 10px;
}

.footerNavBarLink:hover {
  color: $color1;
  cursor: pointer;
}

.footerSeparator {
  display: flex;
}

//// IDs ////
#header {
  background: $color3;
  height: 180px;
  margin-top: 20px;
}

#headerLogoContainer {
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#headerLogo {
  width: 150px;
}

#headerNavContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  float: right;
}

#headerNavBar {
  display: flex;
}

#contentContainer {
  height: 50vh;
}

#footer {
  color: $color5;
  background: $color2;
  font-family: $robotoFont;
  font-size: 20px;
  height: 100px;
}

#footerTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: left;
  height: 100%;
}

#footerText {
  width: 300px;
}

#footerNavContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: right;
  height: 100%;
}

#footerNavBar {
  display: flex;
}